<footer
    class="relative bottom-0 w-full border-l-2 border-r-2 border-t-2 border-neutral-950 bg-stone-300 dark:border-yellow-300 dark:bg-slate-950"
>
    <div
        class="container mx-auto flex items-center justify-between px-12 py-1 text-center"
    >
        <p class="px-2 text-xs text-neutral-950 dark:text-lime-500">
            &copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights
            reserved.
        </p>
        <div
            class="flex min-h-8 min-w-8 items-center space-x-3 rounded-xl bg-neutral-50 p-1"
        >
            <a
                href="https://github.com/ngimb64"
                target="_blank"
                rel="noopener noreferrer"
                ><img src="{{ relative_url }}/src/img/github.png"
            /></a>
        </div>
    </div>
</footer>
