$font-family-sans-serif: "Open Sans", sans-serif, !default;
$font-family-monospace: "Source Code Pro", monospace !default;
$font-size-base: 0.9rem !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1080px, // your custom value for lg breakpoint
  xl: 1200px,
  xxl: 1400px
) !default;
