.left-box {
    padding: 50px 35px 50px 35px
}

.right-box {
    padding: 50px 35px 50px 35px
}

.left-box-image {
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
}

.right-box-image {
    padding-top: 70px;
    padding-left: 25px;
    padding-right: 25px;
}

.bottom-box {
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    float: left;
    border-style: groove;
    border-color: rgb(245, 245, 245);
    border-width: 5px;
    border-radius: 20px;
    padding: 50px 35px 50px 35px;
    overflow-x: hidden;
}

.bottom-content {
    display: block;
    position: relative;
    height: 100%;
    width: 35%;
    float: left;
    padding-right: 10px;
}

.bottom-content > p {
    padding: 275px 0 275px 0;
    vertical-align: middle;
}

.img-gallery {
    display: block;
    float: left;
    width: 65%;
}

@media screen and (max-width: 1100px) {
    .left-box {
        padding: 25px 50px 50px 50px;
        width: 100%;
    }

    .right-box {
        padding: 25px 50px 50px 50px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .left-box-image {
        padding-top: 25px;
    }

    .right-box-image {
        padding-top: 25px;
    }

    .bottom-box {
        padding: 25px 50px 50px 50px;
    }

    .bottom-content {
        width: 100%;
        padding-bottom: 25px;
    }

    .bottom-content > p {
        padding: 15px;
    }

    .img-gallery {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .left-box {
        padding: 25px 5px 25px 5px;
    }

    .right-box {
        padding: 25px 5px 25px 5px;
    }

    .left-box-image {
        padding-top: 20px;
    }

    .right-box-image {
        padding-top: 20px;
    }

    .bottom-box {
        padding: 25px 5px 25px 5px;
    }

    .bottom-content > p {
        padding: 5px;
    }
}