/* Position the image container (needed to position the left and right arrows) */

img {
    vertical-align: middle;
}

.img-gallery {
    position: relative;
    border: 5px groove rgba(110, 75, 255, 0.8);
}

/* Hide the images by default */
.slide-cell {
    display: none;
    width: 100%;
}

.slide-cell > img {
    width: fit-content;
}

/* Number text (1/3 etc) */
.slide-number {
    color: rgb(245, 245, 245);
    font-size: clamp(.6rem, 1.5vw, 1rem);
    position: absolute;
    top: 2vh;
    left: 2vw;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: rgb(245, 245, 245);
    font-weight: bold;
    font-size: clamp(.5rem, 1.5vw, 1rem);
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(110, 75, 255, 0.8);
    border-color: white;
    border-radius: 1px;
    border-style: solid;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(245, 245, 245);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Five columns side by side */
.column {
    float: left;
    width: 20%;
}

.column > img {
    width: 100%;
}

/* Add a transparency effect for thumbnail images */
.demo {
    opacity: 0.6;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

.active, .demo:hover {
    opacity: 1;
}

@media screen and (max-width: 750px) {
    .slide-cell > img {
        width: 70%;
    }
}