.page-title {
    color: rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0.85);
    font-size: clamp(1.5rem, 3vw, 2rem);
    text-shadow: 3px 3px 3px rgb(110, 75, 255);
    font-weight: bold;
    width: 100%;
    border-style: groove;
    border-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}

.left-box {
    background-color: rgba(0, 0, 0, 0.85);
    width: 50%;
    float: left;
    border-style: groove;
    border-color: rgb(245, 245, 245);
    border-width: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 25px 75px 50px 75px;
    overflow-x: hidden;
}

.left-box-image .right-box-image {
    float: left;
    height: 100%;
    width: 100%;
}

.left-box-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15%;
    object-fit: cover;
}

.right-box {
    background-color: rgba(0, 0, 0, 0.85);
    width: 50%;
    float: left;
    border-style: groove;
    border-color: rgb(245, 245, 245);
    border-width: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 25px 75px 50px 75px;
    overflow-x: hidden;
}

.right-box-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 15%;
    object-fit: cover;
}

.right-box-contents {
    text-align: center;
}

.right-box-contents a {
    color: rgb(245, 245, 245);
}

@media screen and (max-width: 1200px) {
    .left-box {
        padding: 25px 35px 50px 35px;
        width: 100%;
    }

    .right-box {
        padding: 25px 35px 50px 35px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

@media screen and (max-width: 700px) {
    .left-box {
        padding: 25px 10px 25px 10px;
    }

    .right-box {
        padding: 25px 10px 25px 10px;
    }
}
