.content {
    display: table;
    font-size: 22px;
    letter-spacing: 2px;
    color: rgb(245, 245, 245);
    background-color: rgba(255, 255, 255, 0.15);
    margin: auto;
    position: relative;
    top: 40px;
    width: 80%;
    height: fit-content;
    border-radius: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(110, 75, 255);
    overflow: hidden;
}

.page-title {
    color: rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 40px;
    font-weight: bold;
    width: 100%;
    border-style: groove;
    border-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}


.intro {
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    float: left;
    border-style: groove;
    border-color: rgb(245, 245, 245);
    border-width: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 25px 75px 50px 75px;
    overflow-x: hidden;
}

.intro-image {
    height: 100%;
    width: 100%;
}

.intro-image img {
    padding-top: 50px;
    max-height: 100%;
    max-width: 100%;
    border-radius: 30px;
    opacity: 0.5;
    object-fit: cover;
}

.link-descriptions {
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    float: left;
    border-style: groove;
    border-color: rgb(245, 245, 245);
    border-width: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 25px 75px 50px 75px;
    overflow-x: hidden;
}

.link-contents {
    text-align: center;
}

.link-contents a {
    color: rgb(245, 245, 245);
}

@media screen and (max-width: 1145px) {
    .intro {
        padding: 25px 50px 50px 50px;
    }

    .link-descriptions {
        padding: 25px 50px 50px 50px;
    }
}