.content {
    display: table;
    font-size: clamp(1rem, 2vw, 1.15rem);
    letter-spacing: 2px;
    color: rgb(245, 245, 245);
    background-color: rgba(110, 75, 255, 0.1);
    margin: auto;
    position: relative;
    top: 40px;
    width: 90%;
    height: fit-content;
    border-radius: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(110, 75, 255);
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(110, 75, 255);
    -moz-box-shadow: 0 10px 20px rgb(110, 75, 255);
    -o-box-shadow: 0 10px 20px rgb(110, 75, 255);
    -webkit-box-shadow: 0 10px 20px rgb(110, 75, 255);
}

.page-title {
    color: rgb(245, 245, 245);
    background-color: rgba(0, 0, 0, 0.85);
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: bold;
    width: 100%;
    border-style: groove;
    border-width: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
}


.left-box {
    background-color: rgba(0, 0, 0, 0.85);
    width: 50%;
    float: left;
    border-style: groove;
    border-color: rgb(245, 245, 245);
    border-width: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 25px 75px 50px 75px;
    overflow-x: hidden;
}

.left-box-image .right-box-image {
    float: left;
    height: 100%;
    width: 100%;
}


.left-box-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 30px;
    opacity: 0.35;
    object-fit: cover;
}

.right-box {
    background-color: rgba(0, 0, 0, 0.85);
    width: 50%;
    float: left;
    border-style: groove;
    border-color: rgb(245, 245, 245);
    border-width: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 25px 75px 50px 75px;
    overflow-x: hidden;
}

.right-box-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 30px;
    opacity: 0.35;
    object-fit: cover;
}

.right-box-contents {
    text-align: center;
}

.right-box-contents a {
    color: rgb(245, 245, 245);
}

@media screen and (max-width: 900px) {
    .left-box {
        padding: 25px 50px 50px 50px;
        width: 100%;
    }

    .right-box {
        padding: 25px 50px 50px 50px;
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}