.column {
    width: 16.66%;
}

.bottom-box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.bottom-content > p {
    padding: 0;
}

.slide-cell > img {
    width: 75%;
}

@media screen and (max-width: 1100px) {
    .bottom-content > p {
        padding: 0;
    }
}