* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 300px;
    height: 100%;
    background-image: url("../images/city2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

.main {
    height: 100%;
    overflow-y: scroll;
}

nav {
    position: relative;
    display: flex;
    float: left;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    min-width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: serif, sans-serif;
    border-color: rgb(110, 75, 255);
    border-style: double;
    border-width: 10px;
    z-index: 9999;
    box-shadow: 0 10px 20px rgb(245, 245, 245);
    -moz-box-shadow: 0 10px 20px rgb(245, 245, 245);
    -o-box-shadow: 0 2px 15px rgb(245, 245, 245);
    -webkit-box-shadow: 0 2px 15px rgb(245, 245, 245);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li {
    list-style: none;
    float: right;
}

.nav-links a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: clamp(16px, 2vw, 20px);
    text-shadow: 2px 2px 2px rgb(110, 75, 255);
}

.logo {
    position: relative;
    align-items: center;
    display: flex;
    height: 100%;
    width: 40vw;
}

.logo-img img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 30px;
}

.logo-name {
    width: fit-content;
    height: 100%;
    white-space: nowrap;
}

.logo-name h3 {
    font-size: clamp(18px, 2vw, 22px);
    letter-spacing: 5px;
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgb(110, 75, 255);
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(245, 245, 245);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1145px) {
    body {
        overflow-x: hidden;
    }

    .logo {
        margin-right: 175px;
        position: relative;
        padding-left: 20px;
    }

    .nav-links {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 15vh;
        width: 100vh;
        min-height: 15vh;
        min-width: 100vw;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: row;
        flex: 0 0 auto;
        align-items: center;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;
        border-color: rgb(110, 75, 255);
        border-style: double;
        border-width: 10px;
        z-index: 9999;
        overflow: hidden;
    }

    .nav-links a {
        font-size: 16px;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        margin-right: 40px;
    }
}

@media screen and (max-height: 475px) {
    .nav-links {
        min-height: 17.5%;
    }
}

@media screen and (max-height: 300px) {
    .nav-links {
        min-height: 20%;
    }
}

@media screen and (max-height: 200px) {
   .nav-links {
       min-height: 25%;
   }
}

@media screen and (max-height: 135px) {
    .nav-links {
        display: none;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.container-fluid {
    color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
}