<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="../Assets/css/style.css">
    <script src="../Assets/javascript/jQuery.js"></script>
    <!-- For Firefox, Chrome, Opera -->
    <link rel="icon" type="image/png" href="../Assets/images/armor_icon.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../Assets/images/armor_icon.png" sizes="32x32">
    <!-- For Internet Explorer -->
    <link rel="icon" type="image/x-icon" href="../Assets/images/armor_icon.png" >
    <link rel="shortcut icon" type="image/x-icon" href="../Assets/images/armor_icon.png"/>
    <title>Nick Gimbel || {{ page.title }}</title>
</head>

<body>
<div class="main">
    <nav>
        <div class="logo">
            <div class="logo-img">
                <img src="../Assets/images/binary_icon.png" width="80" height="80" alt="Binary Icon">
            </div>
            <div class="logo-name">
                <h3>Nicholas Gimbel</h3>
            </div>
            <div class="logo-img">
                <img src="../Assets/images/binary_icon.png" width="80" height="80" alt="Binary Icon">
            </div>
        </div>
        <ul class="nav-links">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../about.html">About</a></li>
            <li><a href="../blog.html">Blog</a></li>
            <li><a href="../projects.html">Projects</a></li>
            <li><a href="../services.html">Services</a></li>
            <li><a href="../contact.html">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container-fluid">
        {{ content }}
    </div>
</div>

<script src="../Assets/javascript/nav.js"></script>
</body>

</html>