<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/style.css">
    <script src="../assets/javascript/jQuery.js"></script>
    <!-- For Firefox, Chrome, Opera -->
    <link rel="icon" type="image/png" href="../assets/images/armor_icon.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../assets/images/armor_icon.png" sizes="32x32">
    <!-- For Internet Explorer -->
    <link rel="icon" type="image/x-icon" href="../assets/images/armor_icon.png" >
    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/armor_icon.png"/>
    <title>Nick Gimbel || {{ page.title }}</title>
</head>

<body>
<div class="main">
    <nav>
        <div class="logo">
            <div class="logo-img">
                <img src="../assets/images/binary_icon.png" alt="Binary Icon">
            </div>
            <div class="logo-name">
                <h3>Nicholas Gimbel</h3>
            </div>
            <div class="logo-img">
                <img src="../assets/images/binary_icon.png" alt="Binary Icon">
            </div>
        </div>
        <ul class="nav-links">
            <li>
                <a href="../index.html">Home</a>
            </li>
            <li>
                <a href="../about.html">About</a>
            </li>
            <li>
                <a href="../blog.html">Blog</a>
            </li>
            <li>
                <a href="../projects.html">Projects</a>
            </li>
            <li>
                <a href="../services.html">Services</a>
            </li>
<!--            <li>-->
<!--                <a href="../contact.html">Contact</a>-->
<!--            </li>-->
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="content">
            {{ content }}
        </div>

        <footer class="footer">
            <div class="footer-content">
                <ul class="footer-logos">
                    <li>
                        <a href="https://github.com/ngimb64" target="_blank" rel="noopener noreferrer">
                            <img src="../assets/images/github.png" alt="Github">
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/nicholas-gimbel/" target="_blank" rel="noopener noreferrer">
                            <img src="../assets/images/linkedin.png" alt="LinkedIn">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>


</div>

<script>
    $(".content").hide().delay(500).fadeIn(2000);
    $(".footer").hide().delay(500).fadeIn(2000);

    $(document).ready(function(){
        if ($(this).width() <= 700) {
            $(".logo-img").hide();
        }
    });

    $(window).on('resize', function(){
        if ($(this).width() <= 700) {
            $(".logo-img").fadeOut(2000);
        }
    });

    $(window).on('resize', function(){
        if ($(this).width() > 700) {
            $(".logo-img").fadeIn(2000);
        }
    });
</script>
<script src="../assets/javascript/nav.js"></script>
</body>

</html>