{%- assign url = page.url | default: '/' | prepend: site.url -%}
{%- assign title = page.title | default: site.title -%}
{%- assign description = page.description | default: site.description -%}
{%- assign image = '/src/img/image.jpg' | prepend: site.url -%}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="title" content="{{ title | xml_escape }}"/>
        <meta name="description" content="{{ description | xml_escape }}"/>
        <meta name="image" content="{{ image }}"/>
        <link
            rel="shortcut icon"
            href="{{ relative_url }}/src/img/favicon_io/favicon.ico"
        />
        <link rel="stylesheet" href="{{ relative_url }}/src/css/custom.css"/>
        <title>{{ title }}</title>
    </head>

    <body>
        {% include nav.html %}

        <main>{{ content }}</main>

        {% include footer.html %}

        <script src="{{ relative_url }}/src/js/gsap.min.js"></script>
    </body>
</html>
